body {
  font-family: 'Open Sans Condensed';
 
  background: black;
}

a {
  text-decoration: none;
  color: red;
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .navbaaa{
    display: none;
  }
}
